.section-services {
  padding-top: 85px;
  color: #fff;
  background-color: #111;
  padding-bottom: 70px;

  .services {
    /* garis bawah dengan before after */
    .text-services::before {
      content: "";
      background: #fff;
      width: 200px;
      height: 3px;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
    .text-services::after {
      content: "what i provide";
      padding: 0 10px;
      font-size: 20px;
      background: #111;
      color: crimson;
      font-weight: 500;
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
    .text-services {
      font-size: 40px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .content-services {
      background: #222;
      cursor: pointer;
      margin: 0 20px;
      padding: 25px 20px !important;
      border-radius: 8px;
      transition: all 0.3s ease;
      &:hover {
        background-color: crimson;
        transform: scale(1.05);
      }
    }
    .row-services {
      padding-top: 50px;
    }
  }
}
