.scroll-up {
  z-index: 1;
  width: 45px;
  height: 45px;
  background-color: crimson;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 6px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
